name: "spray"
version: ":VERSION:"
usage: "upgrade sub-charts from an umbrella chart with dependency orders"
description: "Helm plugin for upgrading sub-charts from umbrella chart with dependency orders"
ignoreFlags: false
useTunnel: false
command: "$HELM_PLUGIN_DIR/:BINARY:"