name: Release on github
on:
  push:
    branches:
      - "github-workflow"
#    tags:
#      - 'v*'
jobs:
  build:
    name: Make release
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          path: ${{ github.workspace }}/src/github.com/gemalto/helm-spray
      - name: Make release
        run: |
          cd ${{ github.workspace }}/src/github.com/gemalto/helm-spray
          make dist
      - name: Publish release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          files: _dist/helm-spray*
